<body class=" bg-primary">
    <div class="container">
        <div class="row my-2 bg-transparent">
            <div class="col">
                <a href="/" style="text-decoration: none; color: inherit;">
                    <h1  class=" text-body-tertiary text-center" >CSV-Uploader</h1>
                </a>
                
            </div>
        </div>
    </div>
    
</body>